body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('3d-island-with-sea-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    scroll-behavior: smooth;
}

.calculator {
    border: 2px solid #ffffffa9;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.screen {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

.text{
    width: 25px;
    height: 20px;
}